# Understanding Pandas Series and DataFrames - Lab

# Introduction

In this lab, let's get some hands on practice working with data cleanup using Pandas.

## Objectives
You will be able to:

* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
df = pd.read_csv('turnstile_180901.txt')
print(len(df))
df.head()

197625

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

# Practice

## Objectives
You will be able to:
* Understand and explain what Pandas Series and DataFrames are and how they differ from dictionaries and lists
* Create Series & DataFrames from dictionaries and lists
* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

# Rename all the columns to lower case

In [11]:
columns=list(df.columns)
columns_formatted=[]
for entry in columns:
    columns_formatted.append(entry.lower())
column_dictionary=dict(zip(columns, columns_formatted))
df = df.rename(columns=column_dictionary)
df.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

# Change the Index to be the Line Names

In [12]:
df = df.set_index('linename', drop=False)
df.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits
linename,,,,,,,,,,,
NQR456W,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
NQR456W,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
NQR456W,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
NQR456W,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
NQR456W,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

# Painstakingly change the index back

In [13]:
df['index']=list(range(0,len(df)))
df = df.set_index('index', drop= False)

df.head(10)

#why did this still drop linename?

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits,index
index,,,,,,,,,,,,
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184,0
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188,1
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229,2
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314,3
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384,4
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,20:00:00,REGULAR,6736562,2283425,5
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,00:00:00,REGULAR,6736683,2283460,6
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,04:00:00,REGULAR,6736696,2283461,7
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,08:00:00,REGULAR,6736705,2283483,8
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,12:00:00,REGULAR,6736746,2283524,9

## Create another column 'Num_Lines' that is a count of how many lines pass through a station. Then sort your dataframe by this column in descending order.

In [14]:
def line_count(text):
    return len(text)
df['Num_Lines'] = df.linename.map(line_count)
df.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits,index,Num_Lines
index,,,,,,,,,,,,,
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184,0,7
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188,1,7
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229,2,7
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314,3,7
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384,4,7

## Write a function to clean a column name.

In [15]:
def clean(col_name):
    cleaned = col_name.title()
    return cleaned

In [16]:
#This is a list comprehension. It applies your clean function to every item in the list.
#We then reassign that to df.columns
#You shouldn't have to change anything here.
#Your function above should work appropriately here.
df.columns = [clean(col) for col in df.columns]

In [17]:
#Checking the output, we can see the results.
df.columns

Index(['C/A', 'Unit', 'Scp', 'Station', 'Linename', 'Division', 'Date', 'Time',
       'Desc', 'Entries',
       'Exits                                                               ',
       'Index', 'Num_Lines'],
      dtype='object')

## Compare subway traffic by day of the week. Display this as a graph.

In [ ]:
df['Date']=pd.to_datetime(df.Date)

df['Day_of_week']=df.Date.dt.day_name()
df.Day_of_week = df.Day_of_week.astype(str)

day_counts=df['Day_of_week'].value_counts()
day_count_dict=day_counts.to_dict()
days=list(day_count_dict.keys())
number_of_rides=list(day_count_dict.values())



import matplotlib.pyplot as plt
%matplotlib inline

plt.figure(figsize=(10,6))
plt.bar(days, number_of_rides)
plt.xlabel('Day of Week')
plt.ylabel('Number of Rides')

plt.title('Rides by Day')
plt.show()

## Is there more subway traffic on a weekend or a weekday?    Be specific in comparing magnitudes.

In [ ]:
#More traffic on weekdays

# Drop a couple of columns

In [10]:
df.drop('C/A', axis=1)

,Unit,Scp,Station,Linename,Division,Date,Time,Desc,Entries,Exits,Index,Num_Lines,Day_of_week
index,,,,,,,,,,,,,
0,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-25,00:00:00,REGULAR,6736067,2283184,0,7,Saturday
1,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-25,04:00:00,REGULAR,6736087,2283188,1,7,Saturday
2,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-25,08:00:00,REGULAR,6736105,2283229,2,7,Saturday
3,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-25,12:00:00,REGULAR,6736180,2283314,3,7,Saturday
4,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-25,16:00:00,REGULAR,6736349,2283384,4,7,Saturday
5,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-25,20:00:00,REGULAR,6736562,2283425,5,7,Saturday
6,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-26,00:00:00,REGULAR,6736683,2283460,6,7,Sunday
7,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-26,04:00:00,REGULAR,6736696,2283461,7,7,Sunday
8,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-26,08:00:00,REGULAR,6736705,2283483,8,7,Sunday
9,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-26,12:00:00,REGULAR,6736746,2283524,9,7,Sunday
10,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-26,16:00:00,REGULAR,6736873,2283587,10,7,Sunday
11,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-26,20:00:00,REGULAR,6737067,2283631,11,7,Sunday
12,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-27,00:00:00,REGULAR,6737136,2283656,12,7,Monday
13,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-27,04:00:00,REGULAR,6737146,2283658,13,7,Monday
14,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-27,08:00:00,REGULAR,6737169,2283736,14,7,Monday
15,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-27,12:00:00,REGULAR,6737301,2283965,15,7,Monday
16,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-27,16:00:00,REGULAR,6737553,2284025,16,7,Monday
17,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-27,20:00:00,REGULAR,6738257,2284091,17,7,Monday
18,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-28,00:00:00,REGULAR,6738430,2284121,18,7,Tuesday
19,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-28,04:00:00,REGULAR,6738442,2284126,19,7,Tuesday
20,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-28,08:00:00,REGULAR,6738474,2284216,20,7,Tuesday
21,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-28,12:00:00,REGULAR,6738621,2284402,21,7,Tuesday
22,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-28,16:00:00,REGULAR,6738886,2284425,22,7,Tuesday
23,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-28,20:00:00,REGULAR,6739630,2284478,23,7,Tuesday
24,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-29,00:00:00,REGULAR,6739804,2284508,24,7,Wednesday
25,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-29,04:00:00,REGULAR,6739812,2284512,25,7,Wednesday
26,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-29,08:00:00,REGULAR,6739847,2284600,26,7,Wednesday
27,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-29,12:00:00,REGULAR,6739986,2284838,27,7,Wednesday
28,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-29,16:00:00,REGULAR,6740257,2284896,28,7,Wednesday
29,R051,02-00-00,59 ST,NQR456W,BMT,2018-08-29,20:00:00,REGULAR,6740888,2284941,29,7,Wednesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
197595,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-27,01:00:00,REGULAR,5554,348,197595,1,Monday
197596,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-27,05:00:00,REGULAR,5554,348,197596,1,Monday
197597,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-27,09:00:00,REGULAR,5554,348,197597,1,Monday
197598,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-27,13:00:00,REGULAR,5554,348,197598,1,Monday
197599,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-27,17:00:00,REGULAR,5554,348,197599,1,Monday
197600,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-27,21:00:00,REGULAR,5554,348,197600,1,Monday
197601,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-28,01:00:00,REGULAR,5554,348,197601,1,Tuesday
197602,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-28,05:00:00,REGULAR,5554,348,197602,1,Tuesday
197603,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-28,09:00:00,REGULAR,5554,348,197603,1,Tuesday
197604,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-28,13:00:00,REGULAR,5554,348,197604,1,Tuesday
197605,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-28,17:00:00,REGULAR,5554,348,197605,1,Tuesday
197606,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-28,21:00:00,REGULAR,5554,348,197606,1,Tuesday
197607,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-29,01:00:00,REGULAR,5554,348,197607,1,Wednesday
197608,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-29,05:00:00,REGULAR,5554,348,197608,1,Wednesday
197609,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-29,09:00:00,REGULAR,5554,348,197609,1,Wednesday
197610,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-29,13:00:00,REGULAR,5554,348,197610,1,Wednesday
197611,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-29,17:00:00,REGULAR,5554,348,197611,1,Wednesday
197612,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-29,21:00:00,REGULAR,5554,348,197612,1,Wednesday
197613,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-30,01:00:00,REGULAR,5554,348,197613,1,Thursday
197614,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-30,05:00:00,REGULAR,5554,348,197614,1,Thursday
197615,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-30,09:00:00,REGULAR,5554,348,197615,1,Thursday
197616,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-30,13:00:00,REGULAR,5554,348,197616,1,Thursday
197617,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-30,17:00:00,REGULAR,5554,348,197617,1,Thursday
197618,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-30,21:00:00,REGULAR,5554,348,197618,1,Thursday
197619,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-31,01:00:00,REGULAR,5554,348,197619,1,Friday
197620,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-31,05:00:00,REGULAR,5554,348,197620,1,Friday
197621,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-31,09:00:00,REGULAR,5554,348,197621,1,Friday
197622,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-31,13:00:00,REGULAR,5554,348,197622,1,Friday
197623,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-31,17:00:00,REGULAR,5554,348,197623,1,Friday
197624,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2018-08-31,21:00:00,REGULAR,5554,348,197624,1,Friday